$colors: (
  dark: (
    element: hsl(209, 23%, 22%),
    bg: hsl(207, 26%, 17%),
    text: hsl(0, 0%, 100%),
    input: hsl(0, 0%, 100%),
    shadow: rgba(149, 157, 165, 0.05),
  ),
  light: (
    element: hsl(0, 0%, 100%),
    text: hsl(200, 15%, 8%),
    input: hsl(0, 0%, 52%),
    bg: hsl(0, 0%, 98%),
    shadow: rgba(149, 157, 165, 0.2),
  ),
);
